{
  "extends": ["airbnb", "prettier", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "no-restricted-syntax": ["off", "ForOfStatement"],
    "react/prop-types": "off",
    "arrow-body-style": "off"
  },
  "env": {
    "jest": true
  }
}
